* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #96a8c8;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: auto;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.title-ad {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: auto;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.ad-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ad-text > p:last-child {
  font-weight: 700;
}

.comic {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

.comic > img {
  width: 90%;
  margin: auto;
}

.comic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  padding-bottom: 10px;
}

.comic-nav > button {
  background-color: #6e7b91;
  color: #fff;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px 0 grey;
  -moz-box-shadow: 0 0 5px 0 gray;
  -webkit-box-shadow: 0 0 5px 0 grey;
}

.mega-footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.mega-footer > img {
  padding-top: 5px;
  display: block;
  width: 95%;
  margin: auto;
}

.feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.feed > p:nth-child(odd) {
  color: #96a8c8;
  text-decoration: none;
  font-weight: 800;
  padding: 0px 10px;
}

.other-comics > h5 {
  text-align: center;
  margin-top: 10px;
}

.comics-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comics-list {
  margin-top: 10px;
}

.comics-list > p {
  width: 40%;
  padding: 5px;
  color: #96a8c8;
  font-weight: 800;
}

.other-things {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.other-things > h5 {
  text-align: center;
}

.other-things > p {
  width: 40%;
  padding: 5px;
  color: #96a8c8;
  font-weight: 800;
}

.best-viewed {
  width: 90%;
  margin: auto;
}

.best-viewed > p {
  font-weight: 900;
}

.license {
  margin-top: 10px;
  text-align: center;
}

.license > p {
  margin-top: 10px;
}

.license > p > span {
  width: 40%;
  padding: 5px;
  color: #96a8c8;
  font-weight: 800;
}

/**
  * Mobile
*/
@media (min-width: 320px) {
  body {
    max-width: 720px;
    margin: auto;
  }
  .title {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-style: italic;
  }

  .title-ad > img {
    max-width: 155px;
  }

  .ad-text {
    padding: 5px;
  }

  .menu {
    display: block;
    font-size: 20px;
    margin-left: 10px;
  }

  .menu > ul {
    list-style-type: none;
  }

  .menu > ul > li {
    margin: 20px 0px;
  }

  .menu-hide {
    display: none;
  }

  .fa-bars {
    font-size: 30px;
  }

  .burger-menu {
    position: relative;
    float: right;
    margin-right: 10px;
  }

  .comic-nav > button {
    padding: 2px;
  }
}

/**
  * Tablet
*/
@media (min-width: 768px) {
  p {
    font-size: 22px;
  }

  h5 {
    font-size: 27px;
  }

  .title-ad > img {
    max-width: 155px;
  }

  .comic-nav > button {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
    align-items: center;
    width: 90%;
  }
}

/**
  * Laptop/Desktop
*/
@media (min-width: 992px) {
  header {
    display: grid;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "menu menu menu title"
      "menu menu menu ad";
    gap: 5px;
  }

  .menu-icon {
    display: none;
  }

  .title {
    margin-top: 5px;
    grid-area: title;
    width: 100%;
  }

  .title-ad {
    grid-area: ad;
    width: 100%;
  }

  #menu {
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    grid-area: menu;
    margin-top: 5px;
    width: 100%;
  }

  #menu > ul {
    list-style-type: none;
    font-weight: 700;
  }

  #menu > ul > li {
    padding: 1px;
  }

  .header,
  .comic,
  .mega-footer {
    width: 100%;
  }
}
